{% extends "base.html" %}

{% block content %}
<a href="{% url 'expenses:category-create' %}">add</a>

<table border="1">
	<thead>
		<tr>
			<th>name</th>
			<th>expenses</th>
			<th>actions</th>	
		</tr>
	</thead>
	<tbody>
		{% for category, expenses, id in expenses_per_category %}
		<tr>
			<td>
				{{category}}
			</td>
			<td>
				{{expenses}}
			</td>
			<td>
				<a href="{% url 'expenses:category-edit' id %}">edit</a>
				<a href="{% url 'expenses:category-delete' id %}">delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
